// colors
$main-background-color: linear-gradient(#1e1e2f,#1e1e24);
$main-border-color: #e14eca;
$content-background-color: #27293d;
$btn-background-color: linear-gradient(to bottom left,#fd5d93,#ec250d,#fd5d93);
$aside-background-color: linear-gradient(0deg,#ec250d 0,#fd5d93 100%);
