<div class="main_container">
    <!-- header start -->
    <header>
        <div class=" header_inner left">
            <i appDirective (click)="sidebarToogle()" class="fas fa-exchange-alt"></i>
            <p>City: {{currentCityName}}</p>
            <small>{{wrongCityErr}}</small>
        </div>
        <div class="header_inner right">
            <p>WEATHER-APP</p>
        </div>
    </header>
    <!-- end of the header -->
    <mat-spinner class="spinner" *ngIf="!dateReceived"></mat-spinner>
    <aside [class.hideSide]="sidebarToggle" *ngIf="dateReceived" [@sidebarAnim] [class.minAside]="sidebarToggle"><app-aside></app-aside></aside>
    <main [class.hideMine]="!sidebarToggle" *ngIf="dateReceived"><app-main></app-main></main>  
</div>