<div class="wrapper">
    <div [@daysAnim] *ngFor="let d of weatherDataDays" class="oneDay">
        <div class="weekDay">{{d.dt |date: 'E'}}</div>
        <div [ngSwitch]="weatherDataDays[0].weather[0].main" class="icon">
            <i *ngSwitchCase="'Mist'" class="fas fa-smog"></i>
            <i *ngSwitchCase="'Sunny'"  class="ico far fa-sun"></i>
            <i *ngSwitchCase="'Clear'"  class="ico far fa-sun"></i>
            <i *ngSwitchCase="'Clouds'" class="ico fas fa-cloud"></i>
            <i *ngSwitchCase="'Rain'" class="ico fas fa-cloud-showers-heavy"></i>
            <i *ngSwitchCase="'Thunderstorm'" class="fas fa-poo-storm"></i>
        </div>
        <div class="dayNight">
            <span class="day"><i class="fas fa-sun"></i>{{d.temp.day |number: '1.0-0'}}&#176;</span>
            <span class="night"><i class="ico far fa-moon"></i>{{d.temp.night |number: '1.0-0' }}&#176;</span>
        </div>
    </div>
</div>
