@import '../../../../../variables.scss';
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    min-width: 1100px;

    .oneDay {
        border: 1px solid $content-background-color;
        border-radius: 8px;
        box-shadow: 0 0 3px 0px rgb(14, 13, 13);
        background-color: $content-background-color;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: border .2s;
        .icon {
            font-size: 50px;
        }
        &:hover {
          border: 1px solid $main-border-color;
          cursor: pointer;
        }
    }
    .dayNight {
        display: flex;
        justify-content: space-evenly;
        .day {
            color: rgb(247, 205, 92);
        }
        .night {
            color: rgb(73, 73, 248);
        }
    }
}
