<div class="wrapper">
  <div
    [@daysAnim]
    (click)="toggleDetails(d)"
    *ngFor="let d of daysData"
    class="oneDay"
  >
    <ng-container *ngIf="!d.details; else details">
      <div class="weekDay">{{ d.dt | date: "E" }}</div>
      <div [ngSwitch]="d.weather[0].main" class="icon">
        <i *ngSwitchCase="'Fog'" class="fas fa-smog"></i>
        <i *ngSwitchCase="'Haze'" class="fas fa-smog"></i>
        <i *ngSwitchCase="'Clouds'" class="fas fa-cloud"></i>
        <i *ngSwitchCase="'Snow'" class="fas fa-snowflake"></i>
        <i *ngSwitchCase="'Drizzle'" class="fas fa-cloud-rain"></i>
        <i
          style="color: rgb(173, 172, 170)"
          *ngSwitchCase="'Mist'"
          class="fas fa-smog"
        ></i>
        <i
          style="color: rgb(247, 194, 95)"
          *ngSwitchCase="'Clear'"
          class="fas fa-sun"
        ></i>
        <i
          style="color: rgb(161, 183, 241)"
          *ngSwitchCase="'Rain'"
          class="fas fa-umbrella"
        ></i>
        <i
          style="color: rgb(241, 247, 164)"
          *ngSwitchCase="'Thunderstorm'"
          class="fas fa-bolt"
        ></i>
      </div>
      <div class="dayNight">
        <span class="day"
          ><i class="fas fa-sun"></i
          >{{ d.temp.day | number: "1.0-0" }}&#176;</span
        >
        <span class="night"
          ><i class="ico far fa-moon"></i
          >{{ d.temp.night | number: "1.0-0" }}&#176;</span
        >
      </div>
    </ng-container>
    <ng-template #details>
      <div class="details_wrapper">
        <span
          >{{ d.dt | date }}
          <div>
            <small>{{ d.weather[0].description }}</small>
          </div></span
        >
        <div class="info">
          <div class="left">
            <small>Feels like:</small>
            <small>Clouds:</small>
            <small>Wind speed:</small>
            <small>Humidity:</small>
          </div>
          <div class="right">
            <span>{{ d.feels_like.day | number: "1.0-0" }}&#176;</span>
            <span>{{ d.clouds }}&#37;</span>
            <span>{{ d.wind_speed | number: "1.0-0" }}<small>m/s</small></span>
            <span>{{ d.humidity }}&#37;</span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
