<app-searchCity
  (onCloseSearch)="toggleSearchCity($event)"
  >
</app-searchCity>
<div [class.isSearchingCity]="isSearchingCity" class="main_container">
  <app-header
    [currentCityName]="currentCityName"
    [wrongCityErr]="wrongCityErr"
    (onSearchCity)="toggleSearchCity($event)"
    >
  </app-header>
    <ng-template #content>
      <app-aside
        (onToggleSidebar)="sidebarToogle($event)"
        >
      </app-aside>
      <app-main
        [toggleSidebarState]="sidebarToggle"
        >
      </app-main>
    </ng-template>
    <mat-spinner
      class="spinner"
      *ngIf="!dateReceived else content"
      >
    </mat-spinner>
</div>
