@import '../variables.scss';
.main_container {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100vw;
    border-top: 2px solid $main-border-color;
    background: $main-background-color;
    padding: 90px 20px 10px 20px;
    overflow: hidden;
    transition: all .5s;
    i:hover {
        transform: scale(1.15);
        cursor: pointer;
    }
}
.spinner {
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.hideSide {
    @media(max-width: 500px) {
        opacity: .2;
    }
}
.hideMine {
    @media(max-width: 500px) {
        opacity: .1;
    }
}
app-aside {
  width: 280px;
  transition: all .5s linear ;
  z-index: 2;
}
app-main {
  flex: 1;
}
.sidebarToggle {
  width: 150px;
}

.isSearchingCity {
  margin-top: 250px;
  transform:
  perspective(75em)
  rotateX(18deg);
}
