<div class="main_container">
    <!-- header start -->
    <header>
        <div class=" header_inner left">
            <i appDirective (click)="sidebarToogle()" class="fas fa-exchange-alt"></i>
            <p>City: {{currentCityName}}</p>
            <small>{{wrongCityErr}}</small>
        </div>
        <div class="header_inner right">
            <p>WEATHER-APP</p>
        </div>
    </header>
    <!-- end of the header -->
    <ng-template #content>
      <app-aside></app-aside>
      <app-main></app-main>
    </ng-template>
    <mat-spinner class="spinner" *ngIf="!dateReceived else content"></mat-spinner>
    <!-- <aside [class.hideSide]="sidebarToggle" *ngIf="dateReceived" [class.minAside]="sidebarToggle">
    </aside> -->
    <!-- <main [class.hideMine]="!sidebarToggle" *ngIf="dateReceived"></main> -->
</div>
