<app-searchCity (onCloseSearch)="toggleSearchCity($event)"> </app-searchCity>
<div [class.isSearchingCity]="isSearchingCity" class="main_container">
  <app-header
    [wrongCityErr]="wrongCityErr"
    (onSearchCity)="toggleSearchCity($event)"
    [cityName]="cityName"
  >
  </app-header>
  <ng-template #content >
    <app-aside
      (onToggleSidebar)="sidebarToogle($event)"
      [class.sidebarToggle]="sidebarToggle"
      >
    </app-aside>
    <app-main
      [toggleSidebarState]="sidebarToggle"
    >
    </app-main>
  </ng-template>
  <mat-spinner *ngIf="isLoading$ | async; else content" class="spinner"> </mat-spinner>
</div>
