header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 40px;
  .header_inner {
      display: flex;
      align-items: center;
      p {
          margin: 0;
      }
      i {
          min-width: 20px;
          margin-right: 20px;
          font-size: 20px;
          cursor: pointer;
      }
      i:active {
          color: rgb(32, 22, 22);
      }
      h2 {
          margin: 0;
      }
      small {
          margin-left: 50px;
          color: red;
      }
  }
}
